#! /usr/bin/env sh
# -*- coding: utf-8 -*-

PYTHON_VENV_ACTIVATE_SCRIPT=env/bin/activate
if [ -e $PYTHON_VENV_ACTIVATE_SCRIPT ]
then
    source $PYTHON_VENV_ACTIVATE_SCRIPT
fi

export PATH=$PWD/node_modules/.bin:$PATH
